.min-h-screen{
    min-height: 100vh;
}
.bg-red{
    background-color: red;
}
.mx-auto{
    margin-left: auto;
    margin-right: auto;
}
.flex{
    display: flex;
}
.text-center{
    text-align: center;
}
.items-center{
    align-items: center;
}
.justify-between{
    justify-content: space-between;
}
.justify-center{
    justify-content: center;
}
.font-bold{
    font-weight: bold;
}
.flex-col{
    flex-direction: column;
}
.my-1{
    margin-top: 23px;
    margin-bottom: 23px;
}
.my-2{
    margin-top: 26px;
    margin-bottom: 26px;
}
.px-2{
    padding-left:13px ;
    padding-right:13px ;
}
.text-blue{
    color: rgb(247, 95, 35);
}
.btn{
    padding:7px 12px;
    border: 2px solid white;
    cursor: pointer;
    border-radius: 6px;
    color: white;
    background-color: rgb(247, 95, 35);
}